
body{
    display: flex;
    flex-direction: column;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: right;
}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}

li img{
    border-radius: 20px;    
 
}

li a:hover{
    text-decoration: underline;
}

#google-apps{
    width: 25px;
    height: 25px;
    margin: 7.5px;
}

#profile-pic{
    margin: 5.5px 12px 7.5px 7.5px;
}

